.hero{
    padding: 0 20px;
}

@media screen and (min-width: $tablet) {
    .hero {
        position: absolute;
        right: 0;
        width: 440px;
        padding-left: 0;
    }
}

@media screen and (min-width: $desktop) {
    .hero{
        width: 680px;
        padding-right: 40px;
    }
}