.header {
    position: relative;
    background-color: $cararra-color;
    background-image: url(../../../../images/fashion-man.jpg);
    min-height: 426px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

@media screen and (min-width: $tablet) {
    .header {
        background-position: 20% center;
        min-height: 646px;
    }
}