@media screen and (min-width: $tablet) {
    .container__image_order_third {
        right: 20px;
        width: 485px;
    }
}
@media screen and (min-width: $desktop) {
    .container__image_order_third {
       width: 875px;
    }
}




