.form__btn {
    color: $cod-gray-color;
    background-color: $white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;

    &:hover {
        color: $white-color ;
        background-color: $cod-gray-color ;
        border: 1px solid $white-color;
    }

}

@media screen and (min-width: $tablet) {
    .form__btn {
        width: 22.2%;
    }
}